
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';


body {
    margin: 0 auto 10em auto;
    max-width: 55em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.7;
    padding: 2em 1em;
    color: #252525;
    background-color: black;
}
form {
    display: inline;
}

h1, h2, h3, h4, h5, h6, strong {
    /*color: #0f0f0f;*/
    color: #FFFFFF;
    font-weight: 500
}

p, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
    color: #FFFFFF;
}

p, ul {
    margin-top: 0px;
}

a {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;    
  text-decoration: none;
}
b {
    font-weight: 500

}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
button:hover {
    cursor: pointer;
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.body {
  /*#background-image: url("http://i.stack.imgur.com/SBv4T.gif");*/
  background-image: url("images/underconstruction.gif"), url("http://i.stack.imgur.com/SBv4T.gif");
  background-repeat: no-repeat, repeat;
  background-color: #000000;
  height: 500px;
  background-position: center;
  background-size: cover, 200px;
}

.body {
  /*#background-image: url("http://i.stack.imgur.com/SBv4T.gif");*/
  background-image: url("images/underconstruction.gif"), url("http://i.stack.imgur.com/SBv4T.gif");
  background-repeat: repeat, no-repeat;
  background-color: #000000;
  height: 500px;
  background-position: center;
  background-size: 200px, cover;
}

body {
  /*#background-image: url("http://i.stack.imgur.com/SBv4T.gif");*/
  background-image: url("http://i.stack.imgur.com/SBv4T.gif"), url("images/underconstruction.gif");
  background-repeat: no-repeat, repeat;
  background-color: #000000;
  height: 500px;
  background-position: center;
  background-size: cover, 200px;
}

.hero-image {
  background-image: url("photographer.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

