@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';


body {
    margin: 0 auto 10em auto;
    max-width: 55em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.7;
    padding: 2em 1em;
    color: #252525;
    background-color: black;
}
form {
    display: inline;
}

h1, h2, h3, h4, h5, h6, strong {
    /*color: #0f0f0f;*/
    color: #FFFFFF;
    font-weight: 500
}

p, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
    color: #FFFFFF;
}

p, ul {
    margin-top: 0px;
}

a {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;    
  text-decoration: none;
}
b {
    font-weight: 500

}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
button:hover {
    cursor: pointer;
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
